@{
    ViewData["Title"] = "Odjava";
}

<h2>@ViewData["Title"]</h2>
<meta http-equiv="refresh" content="2; url=/" />
<h4>
    Uspješno ste se odjavili.
</h4>
<h4>
    Vraćanje na početnu stranicu...
</h4>
