<h3>Dodavanje slike</h3>

<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="UploadFile">
    <input name="myFile" type="file">
    <input type="submit" class="btn-file" value="Dodaj">
</form>